allennlp[all] @ git+https://github.com/txti/allennlp.git@main

torch==2.2.1

# For structured prediction.
conllu==4.5.3

# For RC models
word2number==1.1
py-rouge==1.1
nltk==3.8.1

# For CNN/DailyMail dataset reader
ftfy==6.2.0

# For sentiment tree bank
datasets==2.18.0
